aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
dnspython
filelock
frozenlist
geoip2
h11
HTMLParser
httpcore
httpx
idna
ipwhois
lxml
maxminddb
multidict
olefile
outcome
packaging
PySocks
python-dateutil
python-dotenv
python-whois
requests
requests-file
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
texttable
tldextract
trio
trio-websocket
typing_extensions
urllib3
vt-py
webdriver-manager
websocket-client
whoisit
wsproto
yarl
boto3
